<!-- Loop over each object in the asset array -->
<div style="display: flex; flex-grow:1;">

<div style="flex-grow: 1;">
  <ul style="list-style-type: none; padding-inline-start: 0px;">
    {{#each assets as |asset| }}
      <li>
        <div class="btn" style="background-color: aqua; margin: 1rem 0rem; min-height:2rem;"; >
          <div>
              <strong style="font-size: 2rem;">{{asset.name}}</strong>
              <label style="">{{asset.description}}</label>
          </div>
          <div>
              {{asset.location.description}} 
              {{asset.type.description}}
              {{#if asset.manual}} <a href="{{asset.manual}}">Manual Link</a> {{else}} {{/if}}
          </div>
           
        </div>          
      </li>
    {{/each}}
  </ul>
</div>

<div style="flex-grow: 0.35;">
  {{> vert-nav}}
</div>

</div>


