<div class="row mac" style="display:flex;flex-grow: 1;justify-content: center;align-items: stretch;">
<div class="border">
  <h2>Type</h2>
<div class="type flex-grow: 1;display:flex;">
    

    <form class="form type-form">
      <div class="form-group">
        <label for="type-description">Type Name</label>
        <input class="form-input" type="text" id="type-description"
         {{#if type}}
          value="{{type.description}}"
        {{else}}
          
        {{/if}}
         />
      </div>
      <div class="form-group">
        {{#if type}}
          <button class="btn btn-primary edit-handle" data-id="{{type.id}}" type="submit">Update</button>
          <button class="btn btn-primary delete-handle" data-id="{{type.id}}" type="submit">Delete</button>
        {{else}}
          <button class="btn btn-primary" type="submit">Create!</button>
        {{/if}}
      </div>
    </form>
  </div>
  </div>  
</div>

<div style="flex-grow: 0.35;">
  {{> vert-nav}}
</div>

<script src="/js/type.js"></script>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>
</div>
